{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [ "> 2%", "last 2 versions", "not ie <= 11" ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    [ "babel-plugin-transform-builtin-extend", {
      "globals": [ "Error" ]
    } ]
  ]
}
